<div class="navbarcontainer">
    <div class="maindiv">
        <div class="navlist">
            <div class="name navlistgriditem">
                <h1>SAHANA NARASIPURA VASUDEVARAO</h1>
            </div>
            <div class="navlistitems navlistgriditem">
                <div class="navlink">
                    <button type="button">About</button>
                </div>
                <div class="navlink">
                    <button type="button">Resume</button>
                </div>
                <div class="navlink">
                    <button type="button">Publications</button>
                </div>
                <div class="navlink">
                    <button type="button">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>
