<div class="navbarcontainer">
    <div class="maindiv">
        <div class="navlist">
            <div class="name navlistgriditem">
                <h1>SAHANA NARASIPURA VASUDEVARAO</h1>
            </div>
            <div class="navlistitems navlistgriditem">
                <div class="navlink"><a href="#">About</a></div>
                <div class="navlink"><a href="#">Resume</a></div>
                <div class="navlink"><a href="#">Gallery</a></div>
                <div class="navlink"><a href="#">Certifications</a></div>
                <div class="navlink"><a href="#">Contact</a></div>
            </div>
        </div>
    </div>
</div>
