.navbarpart {
    margin-bottom: 7em;
}
.indexdiv {
    width: 100%;
}
.indexdiv {

}

.mainindexdiv {
    display: grid;
    grid-template-columns: 50% 50%;
}

.indexleftdiv {
    padding-left: 3em;
}

.leftitemimage {
    width: 100%;
    height: 700px;
}

.leftitemimage img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}