.navbarpart {
    margin-bottom: 7em;
}
.indexdiv {
    width: 100%;
}


.mainindexdiv {
    display: grid;
    grid-template-columns: 50% 50%;
}

.indexleftdiv {
    padding-left: 3em;
}

.leftitemimage {
    width: 100%;
    height: 700px;
}

.leftitemimage img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.temporary {
    padding-top: 2em;
    padding-left: 2em;
}
.contentcontainer {
    padding-left: 2em;
    width: 60%;
}
.contentcontainer p {
    font-size: 1em;
}
.content a{
    text-decoration: none;
    color: rgba(210, 176, 218, 0.892);
}

.content a:hover {
    color: white;
}