<div class="navbarpart">
    <app-navbar></app-navbar>
    </div>
    <div class="indexdiv">
        <div class="mainindexdiv">
            <div class="mainindexitem indexleftdiv">
                <div class="leftitemimage">
                    <img src="./assets/ai_generated3.webp" alt="sahana.jpg" class="image">
                </div>
                
            </div>
            <div class-="mainindexitem indexrightdiv">
                <p class="temporary">Temporary</p>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    
    