<div class="navbarpart">
    <app-navbar></app-navbar>
</div>
<div style="margin-top: 10em;">
    <div class="maincontainer">
                <h1><b>SAHANA NARASIPURA VASUDEVARAO</b></h1>

        <div class="underheading">
            <p>(680) 356-8470 • snarsipusyr.edu • github.com/nvsahana • https://www.linkedin.com/in/nvsahana</p>
        </div>  
        <div class="resumesection educationSection">
            <h3 style="margin-bottom:0 ;"><b>EDUCATION</b></h3>
            <hr style="margin-top: 0;">
            <div class="collegename">
                <div><p style="font-weight: bold;">Syracuse University  |  Syracuse, NY</p></div>	 <div><p>May 2025</p></div>
            </div>
            <p style="margin: 0;">Master of Science in Computer Science</p> 
            <p>Relevant Coursework: Artificial Intelligence, Applied Natural Language Processing, Design and Analysis of Algorithms, Computer Architecture, Database Management Systems</p>

            <div class="collegename">
                <div><p style="font-weight: bold;">Visveswaraya Technological University | Bangalore Institute of Technology | Bangalore, India</p></div>	    <div><p>Jul 2022</p></div>
            </div>
            <p style="margin:0">B.E. Computer Science and Engineering</p>
            <p>Relevant Coursework: Data Structures and Algorithms, Analysis of Algorithms, Object Oriented Programming, Data Mining, Software Engineering, Artificial Intelligence & Machine learning, Big Data Analytics, Storage Area networks</p>
        </div>
        <div class="resumesection skillsSection">
            <h3 style="margin-bottom: 0;"><b>SKILLS/CERTIFICATIONS</b></h3>
            <hr style="margin-top: 0;">
            <div class="skillNames"></div>
            <p style="margin:0"><b>Programming Languages:</b> Java, C++, C#, SQL, Python, JavaScript, HTML, Angular, PHP, NodeJS, React</p>
            <p style="margin:0"><b>Frameworks and Libraries:</b> PyTorch, TensorFlow, Pandas, NumPy, Scikit-Learn, Spring Boot, Cloud and Database Technologies: AWS EC2, S3</p> 
            <p style="margin:0"><b>Tools and Platforms:</b> Unity, PlayFab, RESTful API, MatLab</p>
            <p style="margin:0"><b>Certifications:</b> Microsoft Certification in Python Programming</p>
            <p style="margin-top:0"><b>Soft Skills:</b> Communication, Problem-Solving, Time Management, Detail-oriented, Leadership</p>
        </div>
        <div class="resumesection workSection">
            <h3 style="margin-bottom: 0;"><b>WORK EXPERIENCE</b></h3>
            <hr style="margin-top: 0;">
            <div class="experienceSection">
                <div class="experienceHeading">
                    <div class="positionName"><p>Full Stack Developer Intern, Toyz Electronics, Syracuse, NY</p></div><div><p>May 2024 - Present</p></div>
                </div>
                <p style="margin: 0;">>Applied ReactJS to build new core features including search bar, dashboard components and user profile cards</p>
                <p style="margin: 0;">>Implemented Unity scene UI fixes and Twitch integration for in-game streaming</p>
                <p style="margin: 0;">>Deployed oli-torus on AWS EC2 and S3, linking it to the current Toyz database and linking the Toys application to the deployed instance</p>
                <p style="margin: 0;">>Developed Azure automation scripts in C# to streamline the process of updating and retrieving player data in PlayFab</p>
                <p style="margin-top: 0;">>Recoded 10+ API functions connecting to PlayFab and improved the Registration Page,  Admin Page and generic dataflow speed in static web app</p>
            </div> 
            <div class="experienceSection">
                <div class="experienceHeading">
                    <div class="positionName"><p>AI Developer Intern, Pronto Mowers, Boca Raton, FL</p></div><div><p> Jan 2024 - Mar 2024</p></div>
                </div>                                                                                                 
                <p style="margin:0">>Developed AI chat assistants using speech recognition libraries such as Pyttsx3, SpeechRecognition</p>
                <p style="margin-top:0">>Worked in agile environment, delivered timely updates and actively contributed ideas in development stage</p>
            </div>
            <div class="experienceSection">
                <div class="experienceHeading">
                    <div class="positionName"><p>Associate Software Engineer, Bosch Global Software Technologies, Bangalore, India</p></div><div><p> Jul 2022 - Jul 2023</p></div>
                </div>                                                                                                 
                <p style="margin:0">>Implemented rich user experiences by creating 15+ new features utilizing Angular, HTML/JS/CSS, Springboot and SQL</p>
                <p style="margin:0">>Conducted thorough code reviews, identified and fixed critical bugs, and implemented best practices, resulting in 20% decrease in post release defects and improved overall code quality</p>
                <p style="margin-top:0">>Led frontend development for diverse web applications, ensuring responsive and user-friendly interfaces </p>
            </div>
            <div class="experienceSection">
                <div class="experienceHeading">
                    <div class="positionName"><p> Research and Development Intern, Centre for Artificial Intelligence and Robotics, Bangalore, India</p></div><div><p>Aug 2021 - Dec 2021</p></div>
                </div>                                                                                                 
                <p style="margin:0">>Explored crucial elements (lexicon, acoustic and language models) and deep learning and traced evolution of speech recognition systems</p>
                <p style="margin-top:0">>Implemented a semi-supervised pre-trained Wav2vec 2.0 model on the Libri speech dataset</p>
            </div>                                              
        </div>
        <div class="resumesection projectSection">
            <h3 style="margin-bottom: 0;"><b>PROJECTS</b></h3>
            <hr style="margin-top: 0;">
            <div class="project">
                <div class="projectheading">
                    <div class="positionName"><p>Named Entity Recognition System</p></div><div><p>Aug 2022 - Oct 2022</p></div>
                </div>
                <p style="margin: 0;">>Developed advanced model using bi-directional LSTM using Tenserflow, Numpy, SpaCy and PyTorch libraries, accurately recognizing named entities in texts based on context and meanings, achieved an accuracy of 96.89% with this approach</p>
                <p style="margin-top: 0;">>Published the findings in International Research Journal of Engineering and Technology, Oct 2022</p>
            </div>  
            <div class="project">
                <div class="projectheading">
                    <div class="positionName"><p>Automatic Hate Speech Detection System</p></div><div><p>Sep 2021 - Mar 2022</p></div>
                </div>
                <p style="margin: 0;">>Implemented ensemble model with ML classifiers: Random forest and Support Vector classifiers and TFIDF vectorization on bilingual dataset</p>
                <p style="margin: 0;">>Communicated deadlines and timely updates with team and achieved accuracy of 90.1% with the proposed method. This marked a significant 9.3% improvement compared to traditional single-classifier methods</p>
                <p style="margin-top: 0;">>Published findings in IEEE conference on NMITCON-2023 and honoured with best project award at BIT</p>
            </div> 
            <div class="project">
                <div class="projectheading">
                    <div class="positionName"><p>Online Course Registration System</p></div><div><p>Nov 2020 - Jan 2021</p></div>
                </div>
                <p style="margin: 0;">>Created various designs and blue prints verifying requirements to be implemented in the end system</p>
                <p style="margin-top: 0;">>Developed a web platform with HTML, CSS, PHP, Javascript and MySQL enabling tutors to create and oversee courses, while also facilitating student enrollment and management</p>
            </div>
        </div>
        <div class="resumesection activitiesSection">
            <h3 style="margin-bottom: 0;"><b>ACTIVITIES</b></h3>
            <hr style="margin-top: 0;">
            <div class="activities">
                <div class="activityheading">
                    <div class="positionName"><p> Student Intern, Cognition India, Bangalore, India</p></div><div><p>May 2021 - Oct 2021</p></div>
                </div>
                <p style="margin: 0;">>Provided educational materials such as activity sheets and charts for students in government schools</p>
                <p style="margin-top: 0;">>Educated the public about the importance of environment and ways to mitigate harm</p>
            </div>  
            <div class="activities">
                <div class="activityheading">
                    <div class="positionName"><p>Diversity and Inclusivity Committee, Syracuse, NY</p></div><div><p>Sep 2023 - Present</p></div>
                </div>
                <p style="margin-top: 0;">>Foster positive interactions and communication with diverse groups, focusing on importance of inclusivity in having collaborative and respectful environment</p>
            </div> 
        </div>   
    </div>
</div>