/* You can add global styles to this file, and also import other style files */
html,body {
    background: linear-gradient(#241A37, #5D3974) !important;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body covers at least the viewport height */
    background: linear-gradient(#241A37, #5D3974);
    background-size: cover; /* Ensure the gradient covers the entire area */
    background-attachment: fixed; /* Make sure the background is fixed during scroll */
    font-family: Arial, Helvetica, sans-serif;
    color: #E8E8E8;
}

html, body { height: 100%; 
    
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
